@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root {
  --cream: #F4F0E9;
  --transBlue: rgba(95, 198, 219, 0.5354);
  --grey: #CAC4D0;
  --transGrey: rgba(202, 196, 208, 0.7);
  --mainBlue: #36AFC4;
  --transCream: rgba(244, 240, 233, 0.6);
}

*:focus-visible {
  outline: none;  
  border: 2.5px solid var(--grey);
  border-radius: 200px;
}

/* * {
  border: solid red 2px;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: var(--cream);
}



.boxshadow {
  box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
}

.village {
  background-image: url(https://raw.githubusercontent.com/reannab16/tuaysa/main/public/village.png);
}



.continueline::before {
  position:absolute;
  content:"";
 height: 0.15rem;
 width: 4.1rem;
 top: 0.675rem;
 right: 100%;
 margin-right: 0.5rem;
 opacity: 50%;
 border-radius: 9999px;
 background-color: var(--grey);
}

.continueline::after {
  position:absolute;
  content:"";
 height: 0.15rem;
 width: 4.1rem;
 top: 0.675rem;
 left: 100%;
 margin-left: 0.5rem;
 opacity: 50%;
 border-radius: 9999px;
 background-color: var(--grey);
}
